<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Theraot.Core" version="2.2.0" targetFramework="net45" />
  <package id="Vanara.Core" version="2.1.2" targetFramework="net45" />
  <package id="Vanara.PInvoke.Kernel32" version="2.1.2" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shared" version="2.1.2" targetFramework="net45" />
  <package id="Vanara.PInvoke.ShlwApi" version="2.1.2" targetFramework="net45" />
</packages>